<DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<head>
     <title></title>
</head>
<body>

</body>
</html>


<!-- </center><h1>WELCOME TO HANGMAN!<h1><center> -->
<%=yield%>