<center><h2><%=p1_name%> wins
<%=p2_name%> out of guesses
word was <%=word%></h2></center>
<center><img src="http://68.media.tumblr.com/28c912f599b89b6903796c96b3cfa46f/tumblr_inline_nje9a2fwtn1szvubf.png"></center>
<center><a href="/">start new game</a></center>