<link rel="stylesheet" type="text/css" href="/css/winning.css">
<h1><center><%=p2_name%> you guessed the word!!</center>
<center><%=p1_name%> losses</center>
<center>word was <%=word%></center>
<center><img src="https://static.rcgroups.net/forums/attachments/2/2/0/0/0/8/a2590310-214-certified-loser.gif?d=1245369840"></center>
<center><a href="/">start new game</a></center></h1>