<link rel="stylesheet" type="text/css" href="/css/winning.css">
<h1><center><%=p2_name%> you guessed the word!!</center>
<center><%=p1_name%> losses</center>
<center>word was <%=word%></center>
<center><a href="/">start new game</a></center></h1>