<link rel="stylesheet" type="text/css" href="/css/winning.css">
<h2><center><%=p2_name%> you guessed the word!!</center></h2>
<h2><center><%=p1_name%> losses</center></h2>
<h2><center>word was <%=word%></center></h2>
<center><a href="/">start new game</a></center>